<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.Mapper.GoodsMapper">

    <insert id="insertGoodsList" parameterType="java.util.List" >
	    INSERT INTO goods(
	        name
			, price
			, amount
			, discountamount
			, discountrate
			, deliveryfee
			, sellid
			, date
			, image
			, detail
	    ) VALUES 
	    <foreach collection="goodsList" item="Goods" separator=",">
	    (
	          #{Goods.name}
	        , #{Goods.price}
	        , NULL
	        , NULL
	        , NULL
	        , NVL(#{Goods.deliveryfee}, 0)
	        , #{Goods.sellid}
	        , SYSDATE()
	        , #{Goods.image}
	        , #{Goods.detail}
	    )
	    </foreach>
	</insert>
	
</mapper>